<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<div class="center">
  <form>
    <%= render "devise/shared/error_messages", resource: resource %>
    <fieldset>
      <legend>Sign Up</legend>
      <div class="form-group">
        <%= f.label :Name, { class: "form-label" } %><br />
        <%= f.text_field :user_name, autofocus: true, class: "form-control", placeholder: "Enter your Name" %>
      </div>
      <br>
      <div class="form-group">
        <%= f.label :contact, { class: "form-label" } %><br>
        <%= f.text_field :contact, autofocus: true, class: "form-control", placeholder: "Please enter in 03xxxxxxxxx format" %>
      </div>
      <br>
      <div class="form-group">
        <%= f.label :email, { class: "form-label" } %><br>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Enter your Email" %>
      </div>
      <br>
      <div class="form-group">
        <%= f.label :password, { class:"form-label" } %><br>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Enter your Password" %>
      </div>
      <br>
      <div class="form-group">
        <%= f.label :confirm_password, { class:"form-label" } %><br>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" , placeholder: "Confirm Password" %>
      </div>
      <br>
      <div class="form-group">
        <%= f.label :picture, { class: "form-label" } %><br>
        <%= f.file_field :picture, class: "form-control" %>
      </div>
      <br>
      <div class="form-group">
        <%= f.label :user_type , { class: "form-label" } %><br />
        <%= f.select :user_type, ['Customer', 'Vendor'], {}, { class: "form-control", id: "user_type" } %><br>
        <div class="form-group">
          <%= f.label :physical_store_address, { class: "form-label hidden" } %>
          <%= f.text_field :physical_store_address, autofocus: true, class: "form-control hidden", placeholder: "Enter your Address" %>
        </div>
      </div>
      <br>
      <br>
      <%= f.submit "Sign up" , { class: "btn btn-primary" } %>
      <br>
      <%= render "devise/shared/links" %>
    </fieldset>
  </form>
</div>
<% end %> 

<%= javascript_pack_tag 'user_js' %>
