<% if @orders.present? %>
  <div class="py-3">
    <div class="container">
      <div class="row hidden-md-up">  
        <% @orders.each do |order| %>
          <div class="card-single-show col-md-6">
          <a href="<%= order_path(order.id)%>">
            <div class="card-body">
              <div class="card-block">
                <p>Name: <%= order.name %></p>
                <p>Email: <%= order.email %></p>
                <p>Line Items: </p>
                <% order.line_items.each do |item| %>
                <div class="card rounded-3 mb-4">
                  <div class="card-body p-4">
                    <div class="row d-flex justify-content-between align-items-center">
                      <div class="col-md-2 col-lg-2 col-xl-2">
                        <% if item.product.pictures.present? %>
                          <img src="<%= item.product.pictures[0] %>" class="img-fluid rounded-3">
                        <% else %>
                          <%= image_tag "placeholder_product.png" , class: "img-fluid rounded-3" %>
                        <% end %>
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-3">
                        <p class="lead fw-normal mb-2"><%= item.product.title %></p>
                        <p><span class="text-muted">Size: </span>M <span class="text-muted">Color: </span>Grey</p>
                      </div>
                      <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                        <h5 class="mb-0"><%= item.total_price %></h5>
                      </div>
                      <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                        <a href="#!" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
        </a>
          </div>   
      </div>
        <% end %>
    </div>
  </div>
<% else %> 
  <div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>404</h1>
			</div>
			<h2>Oops! This Page Could Not Be Found</h2>
			<p>Sorry but there are no products matching your search</p>
			<a href="<%= root_path %>">Go To Homepage</a>
		</div>
	</div>
<% end %>

            
                    