<div class="header">
    <section class="slider_section">
      <div class="carousel-inner">
          <div class="carousel-item active">
              <div class="container-fluid padding_dd">
                  <div class="carousel-caption">
                      <div class="row">
                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                              <div class="text-bg">
                                  <span>Welcome To Authentic</span>
                                  <h1>Organic Products Store</h1>
                                  <p>We are purveyors of 100% traceable, fresh,healthy &organic food for you & your family, on a mission to create a better food culture for everyone in Pakistan.</p>
                                  <%= form_tag(search_products_path, method: 'get', class: 'Vegetable') do %>
                                    <%= search_field_tag 'search_query', nil, class: 'Vegetable_fom', placeholder: 'Search'  %>
                                    <%= button_tag "Search", class: 'Search_btn', :name => nil %>
                                  <% end %>
                                  <a href="#">Contact Us</a> <a href="<%= products_path %>">Visit Shop</a>
                              </div>
                          </div>
                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                              <div class="images_box">
                                  <figure><%=image_tag("img2.png") %></figure>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </section>
</div>
<div id="about" class="about">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="about-box">
          <h2>About us</h2>
          <p>For the past few decades, we have been consuming a lot of chemical based personal care and food products. But the worst part is, most people don’t even recognize this as a problem. Despite most of our older generation advising on using organic and locally produced home made products, using non-natural and unsustainable products has become the norm.
          <br>
          After researching on the many complications such products have on skin and health in the longer run, we found the only solution: Increase Knowledge and Production of Chemical-Free Natural Products that are Suitable for Long-Term consumption and are Sustainable for our planet.
          <br>        
          The Organic Store is established with a single mission in mind: to ignite the awareness and work as an ambassador for all organic products in Pakistan. Our goal is to help people learn and shift from conventional chemical based to organic and natural products.</p>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 padding_rl">
        <div class="about-box_img">
          <figure><%=image_tag("about.jpg")%></figure>
        </div>
      </div>
    </div>
  </div>
</div>
