<% if @category.products.present? %>
    <div class="text-image-body">
        <%=image_tag("banner_background.jpg") %>
        <div class="text-image">Choose a healthy lifestyle</div>
    </div>
    <div class="py-5-index">
        <div class="container">
            <div class="row hidden-md-up">  
                <% @category.products.each do |product| %>
                    <% if product.user.disabled? %>
                        <div class="col-md-3 card-parent">
                            <div class="card">
                                <% if product.sale? %>
                                    <div class="badge text-white-badge position-absolute" style="top: 0.5rem; right: 0.5rem">
                                    <%= product.sale %>%Off
                                    </div>
                                <% end %>
                                <a href="<%= product_path(product.id) %>">
                                    <div class="card-block">
                                        <% if product.pictures.present? %>
                                            <img src="<%= product.pictures[0] %>" class="placeholder-img" width="100%" height="250" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice"></img>
                                        <% else %>
                                            <%= image_tag "placeholder_product.png" , class: "placeholder-img" %>
                                        <% end %>
                                        <div class="text-center">
                                            <h3 class="card-header"><%= truncate(product.title, :length => 20) %></h3>
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                <% if product.sale? %>
                                                    <span class="text-muted text-decoration-line-through"><%= product.price %></span>
                                                    <%= product.price-(product.price*product.sale/100) %>
                                                    <label class="card-subtitle text-muted">Rs</h5>
                                                    </label>
                                                    <% product.price = product.price-(product.price*product.sale) %>
                                                <% else %>
                                                    <%= product.price %>
                                                    <label class="card-subtitle text-muted">Rs</h5>
                                                    </label>
                                                <% end %>
                                            </div>
                                </a>
                            </div>
                                <% 
                                url = current_user ? line_items_path(:product_id => product.id) : new_user_session_path                 
                                %>
                                <%= button_to "Add to cart", url, { class: "btn btn-card-index" } %>
                        </div>
            </div>
        </div>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
<% else %>
    <div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>404</h1>
			</div>
			<h2>Oops! This Page Could Not Be Found</h2>
			<p>Sorry but there are no products in this category at the moment</p>
			<a href="<%= root_path %>">Go To Homepage</a>
		</div>
	</div>
<% end %>
