<%= form_for @product do |f| %>
<div class="container">
    <div class="row py-5 mt-4 align-items-center">
        <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
            <% if @product.pictures.present? %>
                <img src="<%= @product.pictures[0] %>" class="img-fluid mb-3 d-none d-md-block"/>
            <% else %>
                <%= image_tag 'v1.jpg', class: "img-fluid mb-3 d-none d-md-block" %>
            <% end %>
            <h1>Create a new listing</h1>
        </div>
        <div class="col-md-7 col-lg-6 ml-auto">
            <form action="#">
                <div class="row">
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-circle text-muted"></i>
                            </span>
                        </div>
                        <%= f.text_field :title, autofocus: true, class: "form-control bg-white border-left-0 border-md", placeholder: "Product Title", :required => 'required' %>
                    </div>
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-list-alt text-muted"></i>
                            </span>
                        </div>
                        <%= f.text_field :description, autofocus: true, class: "form-control bg-white border-left-0 border-md", placeholder: "Product Description", :required => 'required', minlength: 100 %>
                    </div>
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-usd text-muted"></i>
                            </span>
                        </div>
                        <%= f.number_field :price, autofocus: true, autocomplete: "email", class: "form-control bg-white border-left-0 border-md", placeholder: "Price", :required => 'required' %> 
                    </div>
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-circle text-muted"></i>
                            </span>
                        </div>
                        <%= f.select :category_id, options_from_collection_for_select(@categories, 'id', 'title'), {}, { class: "custom-select form-control-sign_up bg-white border-left-0 border-md h-100 font-weight-bold text-muted" } %>
                    </div>
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-sort-numeric-asc text-muted"></i>
                            </span>
                        </div>
                        <%= f.number_field :quantity, class: "form-control bg-white border-left-0 border-md", placeholder: "Stock Available", :required => 'required' %>
                    </div>
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-gift text-muted"></i>
                            </span>
                        </div>
                        <%= f.text_field :packing, class: "form-control bg-white border-left-0 border-md", placeholder: "Product Packing", :required => 'required' %>
                    </div>
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-minus-square-o text-muted"></i>
                            </span>
                        </div>
                        <%= f.number_field :sale, class: "form-control bg-white border-left-0 border-md", placeholder: "Enter sale% if any available" %>
                    </div>
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-circle text-muted"></i>
                            </span>
                        </div>
                        <%= f.text_field :size, class: "form-control hidden bg-white border-left-0 border-md", placeholder: "Size", :required => 'required' %>
                    </div>
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-files-o text-muted"></i>
                            </span>
                        </div>
                        <%= f.file_field :pictures, multiple: true, class: "form-control bg-white border-left-0 border-md", placeholder: "Product Picture", :required => 'required' %>
                    </div>
                    <div class="form-group-sign_up col-lg-12 mx-auto mb-0">
                        <%= f.submit "Create Listing" , { class: "btn btn-primary btn-block py-2 font-weight-bold" } %>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<% end %>
