<script>
  function setMarkerOnMap() {
      const myLatLng = { lat: <%=@user.latitude.to_f %>, lng: <%= @user.longitude.to_f %> };
      const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 16,
          center: myLatLng,
      });

      marker = new google.maps.Marker({
          position: myLatLng,
          map
      });

      var infowindow = new google.maps.InfoWindow({
          content: '<a href="https://www.google.com/maps/@<%=@user.latitude.to_f %>,<%= @user.longitude.to_f %>,17z" target="blank"> Open in google maps'
      });
      infowindow.open(map, marker);
  }
</script>
<div class ="py-3">
	<div class="container">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">			
						<div class="preview-pic tab-content">
						  <div class="tab-pane active" id="pic-1">
                <img src="<%= @product.pictures.present? ? @product.pictures[0] : image_url('placeholder_product.png') %>" />
              </div>
            </div>
						<ul class="preview-thumbnail nav nav-tabs">
              <% @product.pictures.each do |picture| %>
                <li><a data-toggle="tab"><img src="<%= picture.url %>" /></a></li>
              <% end %>
						</ul>
					</div>
					<div class="details col-md-6">
						<h3 class="product-title"><%= @product.title %></h3>
						<p class="product-description"><%= @product.description %></p>
            <table class ="table table-borderless">
              <tbody>
                <% if @product.sale? %>
                <tr>
                  <th scope="row">
                    <h4 class="price">Price: 
                  </th>
                  <td><span class="size text-decoration-line-through"><%= @product.price %> Rs</span></h4></td>
                </tr>
                <tr>
                  <th scope="row">
                    <h4 class="price">Current Price: 
                  </th>
                  <td><span class="size"> <%= @product.sale_price %> Rs</span></h4></td>
                </tr>
                <% else %>
                <tr>
                  <th scope="row">
                    <h4 class="price">Price: 
                  </th>
                  <td><span class="size"><%= @product.price %> Rs</span></h4></td>
                </tr>
                <% end %>
                <tr>
                  <th scope="row">
                    <h5 class="sizes">Category: 
                  </th>
                  <td><span class="size" data -toggle="tooltip" title="small"><%= @category.title %></span></h5></td>
                </tr>
                <tr>
                  <th scope="row">
                    <h5 class="sizes">Size: 
                  </th>
                  <% case @product.size %>
                    <% when "Small" %>
                    <td><span class="size" data-toggle="tooltip" title="small">S</span></td>
                    <% when "Medium" %>
                    <td><span class="size" data-toggle="tooltip" title="medium">M</span></td>
                    <% when "Large" %>
                    <td><span class="size" data-toggle="tooltip" title="large">L</span></td>
                    <% when "Extra Large"%>
                    <td><span class="size" data-toggle="tooltip" title="xtra large">XL</span></td>
                    </h5>
                    <% else %>
                    <td><h6>No sizes given for this product</h6></td>
                  <% end %>
                </tr>
                <tr>
                  <th scope="row">
                    <h5 class="colors">Packing: 
                  </th>
                  <td><span class="size" data-toggle="tooltip" title="small"><%= @product.packing %></span></h5></td>
                </tr>
              </tbody>
            </table>
						<div class="action">
              <div style="display: inline-block;">
                <% if @product.user_id == current_user.id %>
                  <%= link_to "Edit Listing", edit_product_path(@product.id), class: "add-to-cart btn btn-default" %>
                <% end %>
                <% unless @product.user_id == current_user.id %>
                  <%= link_to "Add to cart", line_items_path(:product_id => @product.id), method: :post, class: "add-to-cart btn btn-default" %>
                <% end %>
                <% if @product.user_id == current_user.id %>
                  <% elsif @eligible_for_review == true %>   
                    <%= link_to "Add a Review", new_review_path(:product_id => @product.id), class: "like btn btn-default" %>
                <% end %>
              </div>
            </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="py-3">
  <div class="container">
    <div class="card">
      <div class="container-fliud">
        <div class="wrapper row">
          <div class="preview">
            <div class="row">
              <div class="col-md-4">
                <h3 style="padding-left: 10px; padding-top: 10px;">Listed by: <span class="size" data -toggle="tooltip" title="small"><%= @user.user_name %></span></h3>
              </div>
              <div class="col-md-4">  
                <h4 style="padding-top: 10px;">Email: <span class="size" data -toggle="tooltip" title="small"><%= @user.email %></span></h4>
              </div>
              <div class="col-md-3">  
                <h4 style="10px; padding-top: 10px;">Contact No: <span class="size" data -toggle="tooltip" title="small">+92 <%= @user.contact %></span></h4>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <h3 style="padding-left: 10px; pading-top: 10px;">Physical Store Address of Vendor: </h3>
              </div>
              <div class="col-md-4">
                <%= @user.address %> <%= @user.postal_code %> <%= @user.city %> <%= @user.state %> 
              </div>
            </div>
            <div id="map" style="width:98%; height:400px;"></div>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwigc-J6Bax4svQkMvtTN3lyzmtzgIhUc&callback=setMarkerOnMap"></script>
          </div>    
        </div>
      </div>
    </div>
  </div> 
</div>
<% if @reviews %>
  <% @reviews.each do |review| %>
    <div class="py-3">
      <div class="container">
        <div class="row hidden-md-up">
          <div class="card-single-show col-md-6">
            <div class="card-body">Rating
              <div class="disabled_rating input-group col-lg-12 mb-4"> 
                <input type="radio" name="rating_<%= review.id %>" value="5" id="5" <%= review.rating == 5 ? 'checked="checked"' : ''  %> disabled="true">
                <label for="5">☆</label> 
                <input type="radio" name="rating_<%= review.id %>" value="4" id="4" <%= review.rating == 4 ? 'checked="checked"' : ''  %> disabled="true">
                <label for="4">☆</label> 
                <input type="radio" name="rating_<%= review.id %>" value="3" id="3" <%= review.rating == 3 ? 'checked="checked"' : ''  %> disabled="true">
                <label for="3">☆</label> 
                <input type="radio" name="rating_<%= review.id %>" value="2" id="2" <%= review.rating == 2 ? 'checked="checked"' : ''  %> disabled="true">
                <label for="2">☆</label> 
                <input type="radio" name="rating_<%= review.id %>" value="1" id="1" <%= review.rating == 1 ? 'checked="checked"' : ''  %> disabled="true">
                <label for="1">☆</label>
              </div>
            </div>
            <div class="card-body">Review: 
              <%= review.body %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>