<script>
function setMarkerOnMap() {
    const myLatLng = { lat: <%=@user.latitude.to_f %>, lng: <%= @user.longitude.to_f %> };
    const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 16,
        center: myLatLng,
    });

    marker = new google.maps.Marker({
        position: myLatLng,
        map
    });

    var infowindow = new google.maps.InfoWindow({
        content: '<a href="https://www.google.com/maps/@<%=@user.latitude.to_f %>,<%= @user.longitude.to_f %>,17z" target="blank"> Open in google maps'
    });
    infowindow.open(map, marker);
}
</script>

<div class="py-3">
    <div class="container">
      <div class="row hidden-md-up">  
        <div class="card-single-show col-md-6">
          <h3 class="card-header"><%= @product.title %></h3>
          <div class="card-body">
            <% if @product.sale? %>
              <h5 class="card-title text-muted text-decoration-line-through"><%= @product.price %> Rs</h5>
              <h5 class="card-title"><%= @product.price-(@product.price*@product.sale/100) %> Rs</h5>
              <% @product.price = @product.price-(@product.price*@product.sale) %>
            <% else %>
              <h5 class="card-title"><%= @product.price %>Rs</h6>
            <% end %>   
          </div>
          <% if @product.pictures.present? %>
            <% @product.pictures.each do |picture| %>
              <%= image_tag picture.url, class: "d-block user-select-none" %>
            <% end %>
          <% else %>
            <%= image_tag "placeholder_product.png" , class: "d-block user-select-none" %>
          <% end %>
        </div>  
      </div> 
      <div class="card-single-show col-md-6">
        <div class="card-body">
          <p class="card-text"><small><%= @product.description %></small></p>
        </div>
      </div>
      <% if @category %>
        <div class="card-single-show col-md-6">
          <div class="card-body">Category:
            <p class="card-text"><small> <%= @category.title %></small></p>
          </div>
        </div>
      <% end %>
      <% if @user.state %>
        <div class="card-single-show col-md-6">
          <div class="card-body">Physical Store Address of Vendor
            <p class="card-text"><small><%= @user.address %> <%= @user.postal_code %> <%= @user.city %> <%= @user.state %></small></p>
          </div>
          <p>
            <% #image_tag "https://maps.googleapis.com/maps/api/staticmap?&center=#{@user.latitude},#{@user.longitude},&markers=#{@user.latitude},#{@user.longitude}&zoom=7&size=640x400&key=AIzaSyCwigc-J6Bax4svQkMvtTN3lyzmtzgIhUc", class: 'img-fluid img-rounded', alt: "Map" 
            %>
          </p>
          <div id="map" style="width:100%;height:400px;"></div>
          <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwigc-J6Bax4svQkMvtTN3lyzmtzgIhUc&callback=setMarkerOnMap"></script>

        </div>
      <% end %> 
      <% if @reviews %>
        <% @reviews.each do |review| %>
          <div class="card-single-show col-md-6">
            <div class="card-body">Rating
              <div class="disabled_rating input-group col-lg-12 mb-4"> 
                <input type="radio" name="rating_<%= review.id %>" value="5" id="5" <%= review.rating == 5 ? 'checked="checked"' : ''  %> disabled="true">
                <label for="5">☆</label> 
                <input type="radio" name="rating_<%= review.id %>" value="4" id="4" <%= review.rating == 4 ? 'checked="checked"' : ''  %> disabled="true">
                <label for="4">☆</label> 
                <input type="radio" name="rating_<%= review.id %>" value="3" id="3" <%= review.rating == 3 ? 'checked="checked"' : ''  %> disabled="true">
                <label for="3">☆</label> 
                <input type="radio" name="rating_<%= review.id %>" value="2" id="2" <%= review.rating == 2 ? 'checked="checked"' : ''  %> disabled="true">
                <label for="2">☆</label> 
                <input type="radio" name="rating_<%= review.id %>" value="1" id="1" <%= review.rating == 1 ? 'checked="checked"' : ''  %> disabled="true">
                <label for="1">☆</label>
              </div>
            </div>
            <div class="card-body">Review: 
              <%= review.body %>
            </div>
          </div>
        <% end %>
      <% end %> 
      <%= button_to "Add to cart", line_items_path(:product_id => @product.id), { class: "btn btn btn-card-index" } %>
      <br>
      <%= button_to "Add a Review", new_review_path(:product => @product.id), { class: "btn btn-card-index" } %>
      <br>
    </div>
  </div> 
</div>