<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: <%= @order.total_bill%></span>
    </label>
    <%= hidden_field_tag 'order_id', @order.id %>

  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Order payment"
          data-amount="<%= @order.total_bill %>"
          data-locale="auto"></script>
<% end %>