<div class="header-top">
  <div class="header">
    <div class="container-fluid">
      <div class="row" id="navbar_top">
        <div class="col-xl-2 col-lg-4 col-md-4 col-sm-3 col logo_section">
          <div class="full">
            <div class="center-desk">
              <div class="logo">
                <a href="index.html"><%=image_tag("logo.png") %></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-10 col-lg-8 col-md-8 col-sm-9">    
          <div class="menu-area">
            <div class="limit-box">
              <nav class="main-menu" id="navbar_top"> 
                <ul class="menu-area-main">
                  <li> <a href="<%= root_path %>">Home</a> </li>
                  <li> <a href="<%= products_path %>">Shop</a> </li>
                  <li>
                    <div class="dropdown show">
                      <a class="dropdown-toggle" href ="#"role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                      </a>
                      <div class="dropdown-content">
                        <% @categories.each do |category| %>
                          <a href="<%= products_category_path(category.id) %>"><%= category.title %></a>
                        <% end %>
                      </div>
                    </div>
                  </li>
                  <li>
                    <%= form_tag products_search_path, method: 'get', class: 'navbar-form navbar-right' do %>
                      <%= search_field_tag 'search_query', nil, class: 'form-control me-2', placeholder: 'Search'  %>
                  </li>
                  <li>
                    <%= submit_tag "Search", class: 'btn btn-success', :name => nil %>
                    <% end %>
                  </li>
                  <% if current_user %>
                    <li>
                      <div class="dropdown show">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img src="<%= current_user.picture %>" width="40" height="40" class="rounded-circle">
                        </a>
                        <div class = "dropdown-content">
                          <a class="dropdown-item" href="<%= user_path(current_user.id) %>">Visit Profile</a>
                          <a class="dropdown-item" href="<%= edit_user_path(current_user.id) %>">Edit Profile</a>
                          <%= link_to 'Logout', destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" }, class: "dropdown-item" %>
                        </div>
                      </div>
                    </li>   
                  <% else %>
                    <li>
                      <%= link_to 'Sign In', user_session_path, class: "btn btn-navbar"  %>
                    </li>
                  <% end %>
                </ul>
              </nav>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>
</div>